<div class="container-fluid container-fluid-custom">
    <h1>About Us</h1>
    <h3>Tech Stack : Node.js, Express.js, Google OAuth2.0, MongoDB</h3>
    <ul style="list-style: circle;">
        <li>Frontend developed using Express ejs layout which uses server for seamless user interface.</li>
        <li>Backend implementation built using Node.js for API integration and database operations.</li>
        <li>Database management utilized MongoDB as the database to store user data and information.</li>
        <li> User authentication implemented using Google oauth20 and passport.</li>
    </ul>
    <h4>Contact Info</h4>
    <ul>
        <li>Developed By : Law & Rochit</li>
        <li>Email : <a href="https://www.gmail.com">almosttoply@gmail.com</a></li>
    </ul>
    <h5>Want To Meet Us</h5>
    <p>Location : ABESIT, Ghaziabad</p>
</div>