<div class="container-fluid container-fluid-custom">
    <h1>FAQs</h1>
    <h4>1. What this website do?</h4>
    <p>Just takes up your silly notes and saves it whenever you need.</p>
    <h4>2. Is the website is safe?</h4>
    <p>Yes, its comes with Google authentication so your every information is safe with us.</p>
    <h4>3. Is it Free to use?</h4>
    <p>Yes, our website dosen't charge any amount for your usage.</p>
</div>